body{
    font-family: 'Lexend', sans-serif;
}

.sidebar{
    height:100vh;
    background-color:#1d3557;
    color: white!important;
}

/* .upside{
    height: 700px;
    overflow-y: scroll;
}
.downside{
    height: 150px;
} */


.myList li{
    list-style: none;
}